/* iframe{
    width: 500px;
    height: 300px;
} */

.grid-container {
    background-color: aqua;
    border: 1px solid black;
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
  }
  .grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .text-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .grid-i{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  table, th, td {
    border: 1px solid black;
  }